# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Secrets / keys
.env
.env.*
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/

# Build outputs
dist/
build/

# temp Folders
temp/
